/* Reset di base per rimuovere margini e padding predefiniti */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo della pagina */
body {
    font-family: Arial, sans-serif; /* Imposta un font pulito */
    background-color: #181A2F;  /* Colore di sfondo chiaro */
    min-height: 100vh;  /* Altezza minima della pagina */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

/* FORM REGISTRAZIONE E LOGIN */

/* Contenitore principale che ospita il form */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
}

/* Contenitore del form */
#form-container {
    width: 100%;
    max-width: 400px;  /* Limita la larghezza per dispositivi più grandi */
    padding: 30px;
    background-color: #242E49;
    color: white;
    border-radius: 10px; /* Angoli arrotondati */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Aggiungi ombra per risaltare */
}

form .button{
    align-self: center;
}
/* Stile per il titolo del form */
form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #B4182D;  /* Colore verde per il titolo */
}

/* Stile per gli input del form */
input, select{
    background-color: ghostwhite;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0; /* Spazio tra gli input */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Stile per il pulsante di invio */
button {
    background-color: #54162B; /* Colore verde per il bottone */
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    max-width: 200px;
}

button:hover {
    background-color: #B4182D; /* Colore leggermente più scuro al passaggio del mouse */
}

/* Stile per il link di navigazione tra form */
a {
    color: #54162B;  /* Colore verde per i link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;  /* Sottolinea il link quando ci si passa sopra */
    color: #B4182D;
}

/* ADMIN DASHBOARD */

h1,h2,h3,p::first-letter{
    margin: 10px 0;
    text-transform: capitalize;
}

/* Stile per la tabella */
table {
    width: 80%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #2A3543; /* Colore di sfondo della tabella */
    border-radius: 10px; /* Angoli arrotondati per la tabella */
}

/* Stile per le celle della tabella */
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #4E5A72; /* Linea separatrice tra le righe */
}

/* Colore di sfondo per le intestazioni della tabella */
th {
    background-color: #3E4A61;
    color: white;
    font-weight: bold;
}
tr{
    width: 100%;
}
/* Colore alternato per le righe della tabella */
tr:nth-child(even) {
    background-color: #3E4A61;
}

/* Colore di sfondo per le righe pari */
tr:nth-child(odd) {
    background-color: #2A3543;
}

/* Stile per il testo all'interno delle celle */
td {
    color: #D1D9E6;
    font-size: 14px;
}

/* Aggiungi un effetto hover sulle righe della tabella */
tr:hover {
    background-color: #4E5A72; /* Colore di sfondo più chiaro al passaggio del mouse */
    cursor: pointer;
}

/* Stile per la colonna delle azioni */
td:last-child {
    text-align: center;
    width: 100px;
}

.btn-azione {
    padding: 4px 8px;
}
/* Stile per i pulsanti delle azioni */
button.action-button {
    background-color: #B4182D;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

button.action-button:hover {
    background-color: #54162B; /* Colore più scuro al passaggio del mouse */
}